@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Sans Display", sans-serif;
}

html {
  /*background-image: url("./assets/sunset.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;*/
}

body {
  margin: 0;
}
